/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Use the `components` layer for any more complicated classes you want to add
 *  to your project that you'd still like to be able to override with utility
 *  classes.”
 *
 *  — from https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold;
}

.page-title {
	font-variant: small-caps text-5xl;
}

/**
 * Post meta and footer styles
 *
 * These will be applied to the post-specific elements to keep the post itself
 * at content width pending custom styling.
 */
.entry-meta,
.entry-footer,
.post-navigation,
#comments {
	@apply max-w-content mx-auto mb-6;
}

.entry-footer {
	@apply flex flex-row flex-wrap items-center gap-2;
}
.entry-footer a {
	@apply inline-block bg-gray-50 p-1 font-mono text-sm text-gray-800 transition-all hover:-translate-y-0.5 hover:underline focus:-translate-y-0.5;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */

.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.search-form[role="search"] input[type="submit"].search-submit,
.wp-block-search__button.wp-element-button,
.primary-button {
	@apply border-primary hover:border-primary-100 bg-primary hover:bg-primary-900 focus:bg-primary-900 inline-block border px-4 py-2 text-white transition-all hover:-translate-y-1 hover:text-white hover:drop-shadow-sm focus:-translate-y-1 focus:text-white focus:outline-blue-500;
}

.secondary-button {
	@apply border-primary bg-background hover:bg-secondary-50 focus:bg-secondary-50 text-primary-900 hover:text-primary-900 focus:text-primary-900 inline-block border px-4 py-2 transition-all hover:-translate-y-1 hover:drop-shadow-sm focus:-translate-y-1 focus:outline-blue-500;
}

.widget.widget_block a,
.menu > .menu-item > a {
	@apply inline-block transition-all hover:-translate-y-0.5 hover:underline focus:-translate-y-0.5;
}

.wp-block-search__input {
	@apply border-primary-100 text-primary-900 border bg-white p-2;
}

.widget.widget_block:not(:first-child) {
	@apply my-6;
}

.widget .wp-block-heading {
	font-variant: small-caps;
}

@scope ( .wanda-countdown ) {
	.wanda-timer {
		@apply text-primary font-mono text-base font-bold sm:text-xl;
	}
	.unit-group {
		@apply bg-primary-50 mx-0.5 inline-block p-2 md:mx-2 md:px-4;
	}
	.number {
		@apply font-bold;
		font-variant-numeric: tabular-nums;
	}
}

.search-field {
	@apply font-sans font-medium;
}

.prose h2.wp-block-heading {
	@apply text-4xl;
}

.posts-grid {
	@apply grid grid-flow-row gap-4 md:grid-cols-3;
}
.posts-grid .post {
	@apply border-2 border-transparent bg-neutral-100 p-6 transition-all;
}
.posts-grid .post img {
	aspect-ratio: 1;
	object-fit: cover;
}
.posts-grid .post h3 {
	@apply m-0 text-center;
}

.posts-grid .post .entry-title {
	@apply mb-1;
}

.posts-grid .post:has(a:hover),
.posts-grid .post:has(a:focus) {
	@apply border-b-primary -translate-y-0.5 border-neutral-200 drop-shadow-xs;
}

.promotori a > img {
	@apply mt-0 mb-2 max-w-48;
}

.promotori a {
	@apply inline-block transition-all hover:-translate-y-0.5 hover:underline focus:-translate-y-0.5;
}

.promotori a:has(> img) {
	@apply my-4 block;
}

/** post nav link */

.nav-links {
	@apply my-8 flex flex-row items-center justify-center gap-4;
}

.post-navigation .nav-links {
	@apply justify-between;
}

.post-navigation .nav-next {
	@apply text-right;
}

.nav-links a {
	@apply text-primary hover:text-primary-900 focus:text-primary-900 inline-block transition-all hover:-translate-y-0.5 hover:underline focus:-translate-y-0.5;
}

.page-numbers:not(.prev):not(.next) {
	@apply text-primary-900 bg-primary-50 hover:bg-primary-100 focus:bg-primary-100 rounded-full p-4;
}

.page-numbers:is(.prev, .next) {
	@apply hover:bg-primary-50 focus:bg-primary-100 p-2;
}

.sponsors-grid {
	@apply grid grid-flow-row-dense gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

.sponsors-grid img:first-child,
.sponsors-grid img:nth-child(2) {
	@apply md:col-span-2 lg:col-span-3 xl:col-span-2;
}

.prose a {
	word-wrap: anywhere;
}

.logo-list {
	@apply max-w-wide mx-auto grid place-items-center gap-4;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.logo-list img {
	@apply mb-4 h-auto max-h-20 w-full max-w-28 object-contain;
}
